alembic==1.0.5
astroid==2.1.0
atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
colorama==0.4.1
coverage==4.5.2
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==5.0.0
#mysql==0.0.2
#mysqlclient==1.3.14
myTest==1.65535.0
pluggy==0.8.0
py==1.7.0
pylint==2.2.2
pylint-flask==0.5
pylint-plugin-utils==0.4
pytest==4.1.0
pytest-cov==2.6.1
python-dateutil==2.7.5
python-editor==1.0.3
six==1.12.0
SQLAlchemy==1.2.15
typed-ast==1.1.1
Werkzeug==0.14.1
wrapt==1.10.11
