{% extends 'layout.html' %}
{% block body %}
{%- for category, message in get_flashed_messages(with_categories = true) %}
<div class="alert alert-danger">
    {{ message }}
</div>
{%- endfor %}


<form method="POST" action="/new">


    <label for="id">Id</label><br>
    <input type="text" name="student_id" placeholder="Id"/><br>
    <label for="name">Name</label><br><input type="text" name="name"/><br>


    <label for="class ID">Class ID</label><br> <select name="selected_id">
    {% for class in class_details %}
    <option value="{{class.class_id}}">

        {{class.class_name}} - {{class.class_id}}

    </option>
    {% endfor %}
</select><br>
    Appoint as Class Leader :
    <select name="class_leader">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select><br>


    <input class="btn btn-success" type="submit" value="Add">
</form>
{% endblock %}