{% extends 'layout.html' %}
{% block body %}

{%- for message in get_flashed_messages() %}
{{ message }}
{%- endfor %}

<h3 align="center">Students</h3>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date Added</th>
        <th>Date Modified</th>
        <th>Students</th>
    </tr>
    </thead>

    <tbody>
    {% for student in students %}
    <tr>
        <td>{{student.class_id}}</td>
        <td>{{ student.class_name }}</td>
        <td>{{ student.created_on }}</td>
        <td>{{ student.updated_on }}</td>
        <td>{{ student.student }}</td>

    </tr>


    {% endfor %}
    </tbody>
</table>


{% endblock %}