{% extends 'layout.html' %}
{% block body %}

{%- for message in get_flashed_messages() %}
{{ message }}
{%- endfor %}

<h3 align="center">Classes</h3>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date Added</th>
        <th>Date Modified</th>
        <th>Class leader</th>
    </tr>
    </thead>

    <tbody>
    {% for class in classes %}
    <tr>
        <td>{{class.class_id}}</td>
        <td>{{ class.class_name }}</td>
        <td>{{ class.created_on }}</td>
        <td>{{ class.updated_on }}</td>
        <td>{{ class.class_leader }}</td>

    </tr>


    {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('new_class') }}" class="btn btn-warning">Add Class
</a>

<a href="{{ url_for('show_all') }}" class="btn btn-warning">View Students
</a>

{% endblock %}